body {
  padding-top: 25px;
  margin-bottom: 60px;
}

.navbar-default {
    /*background-color: #2ecc71;*/
}

.block1 {
  padding: 40px 15px;
  text-align: center;
}

.dormButtons {
	width: 150px;
}

.dormButtonGrid {
	padding: 5px;
}

.textContainer {
	display: table;
	vertical-align: middle;
	padding-top: 7.5%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}