body {
  padding-top: 25px;
  margin-bottom: 60px;
  overflow-x: hidden;
  height: 100%;
}

#main-heading {
  padding-top: 110px;
  padding-bottom: 20px;
  font-size: 40pt;
  font-family: 'Oswald', sans-serif;
  color: white;
  text-shadow: 0 0 10px rgba(0,0,0,2);
  opacity:0;
  text-align: center;
}


@media (min-width: 500px) {
  #main-heading {
    font-size: 70pt;
  }
}

h3 {
color: #16d465;
font-family: 'Oswald', sans-serif;
font-size: 50pt;
}

p {
  font-size: 25pt;
}


.navbar-default {
    /*background-color: #2ecc71;*/
    font-family: 'Oswald', sans-serif;
    background-color: #16d465;
    color: white;
    border: none;
    width: 100%;
    height: 50px;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    background: black;
    
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.coming-soon {
  height:100%;
}

#text-body {
  padding-top: 50px;
}

#main-cover {
  background: url('home-bg.png') no-repeat left 50px   fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 1;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  height: 100vh;

  padding-top: 50px;
  
  text-align: center;
}


.row { 
  margin-right: -15px;
  margin-left: -15px;
}

footer {  
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  text-align: center;
}

.block2 {
  text-align: left;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-nav li a {
  color: white;
}

.navbar-default .navbar-nav li a {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}


.navbar-default .navbar-nav > li > a:hover {
  color: white;
  text-shadow: 0 0 15px white;
}

.dormButtons {
	width: 200px;
 
}

.headerButtons {
  width: 250px; 
}

.dormButtonGrid {
  padding:5px;
}

.textContainer {
	display: table;
	vertical-align: middle;
}


.headerbuttonGrid {
  padding: 4px;
}

.btn-round{
  border-radius: 30px;
}

.btn{
  font-family:'Oswald',sans-serif;
  background-color: #16d465;
  border-color: white;
  color: white;
  border-color: #16d465;
}

.btn:hover {
   font-family:'Oswald', sans-serif;
   border-color: #16d465;
   color: #16d465;
   background-color: white;
}

#three60graphic {
  font-family: 'Londrina Solid', cursive;
  color:#f1c40f;
  font-size: 150pt;
  text-align: center;
}

#home-info {

  padding-top: 15%;
}

#bottom-info {
  padding-top:15%;
  padding-bottom:15%;
}

#center-text {
  text-align: center;
}

#buttonGroup {
  padding-top: 50px;
}

#announcement {
  padding: 50px;
  text-align: center;
  color: #16d465;
}

span.glyphicon-chevron-down {
  padding-top: 15px;
  padding-left: 12.5px;
  font-size: 11em;
  color:'gray';
  display:block;
  text-transform: right 5px;
  text-shadow: 0 0 5px 'gray';
}

/*.scroll-alert {
  font-size: 20pt;
  
  font-family: 'Oswald', sans-serif;
  color: black;
  position: relative;
  bottom: 0px;

}*/





/*.footer {
  position: absolute;
  bottom: 0;
  text-align: center;
}*/*/*/